/* CSS Reset handled by Tailwind */


.faded-yellow {
    /* background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(237, 221, 83, 1) 49%); */

    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(237, 221, 83, 1) 49%); */
    background: radial-gradient(circle, rgba(237, 221, 83, 1) 0%, rgba(255, 255, 255, 1) 60%);
}